* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  color: #444;
  line-height: 1;
}

/*
 * Centering the body content
 */
.container {
  width: 100%;
  margin: 0 ;
}

.greeting {
  height: 100vh;
  background-color: black;
  margin: 0;
  width: 100%;
  display: table;
}

.greeting-text {
  color: white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.greeting-text h1 {
  font-family: proxima-nova sans-serif;
  font-size: 10vw;
  letter-spacing: .1em;
  padding-bottom: 15px;
}

.greeting-text span {
  letter-spacing: .1em;
  font-size: 2vw;
}

.highlight-1 {
  background-color: white;
  color: #45555f;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 5vw;
}

iframe {
  max-width: 90%;
/*  position: absolute;
  display: block;*/
  width: 90%
}

.video-container {
  text-align:center;
  width:100%;
}
