{% extends "layout.html" %}
{% block content %}
    <div class="about">
        Today, you're going to make this site a lot bigger.<br>

        <h2>Instructions for getting started</h2>
        <ol>
            <li>Go to <a href='https://github.com/naaaargle/nargleapp'>this repository</a> on
                github.com.
            <li>If you have a github account, fork the repository using the button on the upper right. Clone or download the forked repository into a directory of your choosing using `git clone &lt;ssh_link&gt;` on your command line.<br>
                <img src='https://i.stack.imgur.com/zKWMO.png' width='50%' style='margin:20px;'>
                <br>
                If you do not have a github account, you can either make one and do the same, or you can clone or download this repository without the intent of submitting a pull request.</li>
            <li>Once in your folder, type `python application.py` into your command line and navigate to the IP provided in the output. This is your local development IP and will reflect any changes you make immediately.</li>
            <li>Complete one of the tasks assigned below. You can use layout.html to get started. Make sure to make your file and route names unique so that you don't collide with anyone else!</li>
            <li>Add a link to your new page to home.html between the &lt;ul&gt; tabs.</li>
            <li>Commit your changes using `git commit`.</li>
            <li>To begin creating a pull request, push your changes to your fork using `git push -u origin HEAD`.</li>
            <li>Return to your forked repository, and select to create a pull request. Set the pull request to compare to the original repository.</li>
            <li>If there's time, I'll accept your PRs and show you how I would deploy these changes.</li>
        </ol>

        <br>

        <h2>Tasks</h2>
        <p>Get as fancy as you want; this is only the MVP. Create a new page on this website that...</p>
        <ol>
            <li>Includes a gif</li>
            <li>Links to a different site</li>
            <li>Has text in three different columns</li>
            <li>Has a block of text with a border</li>
            <li>Has a hot pink background</li>
            <li>Includes a code block</li>
            <li>Has four different headings in different styles</li>
            <li>Includes a footnote and an anchor tag</li>
            <li>Includes two images side-by-side with some space between them</li>
            <li>Includes an ordered list and an unordered list</li>
        </ol>

    </div>
{% endblock %}
