{% extends "layout.html" %}
{% block content %}
    <div class="greeting">
        <div class="greeting-text">
            <h1>Mary Nagle</h1>
            <span>Developer, something something</span>
        </div>
    </div>
    <div class="highlight">
        <h2>PyCon 2017</h2>
        <div class="video-container">
            <iframe width="853" height="480"
                src="https://www.youtube.com/embed/OaT0EN-02iY" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="highlight-text">
            <p>This is a talk for beginners, "by a beginner" - when I put together the first version of this talk, I'd been programming professionally for less than a year. I was hyper aware of how easily more senior engineers fall into jargon and complicated concepts when trying to explain something, and I set out to build a talk that explained confusing things in plain English so that beginners could get over the intimidating unknowns of building an application. Over two years later, after giving an earlier version of this talk at PyGotham 2016, I spruced it up and was accepted to speak at PyCon 2017.</p>
    </div>
    <hr>
    <div class="highlight">
        <h2>Open Source Contributions</h2>
        <div class="highlight-text">
            <span>Coming soon.</span>
        </div>
    </div>

{% endblock %}
