{% extends "layout.html" %}
{% block content %}
    <div class="greeting">
        <div class="greeting-text">
            <h1>Mary Nagle</h1>
            <span>Developer, something something</span>
        </div>
    </div>
    <div class="highlight-1">
        <h2>PyCon 2017</h2>
        <div class="video-container">
            <iframe width="853" height="480"
                src="https://www.youtube.com/embed/OaT0EN-02iY" frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>

{% endblock %}
